/* // BR FIRMA */
@font-face {
    font-family: 'CW BR Firma';
    src: url('BR Firma Regular.otf') format('opentype');
    font-weight: normal;
    font-display: fallback;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'CW BR Firma';
    src: url('BR Firma Medium.otf') format('opentype');
    font-weight: 500;
    font-display: fallback;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'CW BR Firma';
    src: url('BR Firma SemiBold.otf') format('opentype');
    font-weight: 600;
    font-display: fallback;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'CW BR Firma';
    src: url('BR Firma Bold.otf') format('opentype');
    font-weight: bold;
    font-display: fallback;
    font-style: normal;
  }